[2020-03-12 19:29] jeppewl opened #8 "Six new hama colours"
Hama has introduced six new ordinary and opaque colours: 77, 78, 79, 82, 83 and 84 https://www.hama.dk/media/102136/colour-chart_20.pdf

[2020-03-12 20:00] maxcleme commented on #8
Awesome! Thanks for feedback, I'm gonna look for rgb references of these and add them asap!

[2020-03-12 20:42] jeppewl commented on #8
That sounds good. Are you aware of some good source to get rgb codes? If you wish I can take a high quality photo of them.

[2020-03-15 22:33] jeppewl commented on #8
I have made an attempt at sampling the colours in this sheet https://docs.google.com/spreadsheets/d/1Ordv1eQV0HszqxWJf5oM4alch4Q2v5dtiJb-Vui8Rh0/edit?usp=sharing based on this photo I took https://ibb.co/smYnxWv
If look at the older colours, I might not end up with quite the same RGB values as other have, but I am somewhat confident that my values for the six new colours are sufficiently accurate.

[2020-03-16 07:19] maxcleme commented on #8
Wow! That's really helpful ! Thanks a lot for taking your time to improve this project.

Here what I'm going to do during the following hours/day :

1. Update this repo in order to add the 6 new Hama reference based on your work
2. Create a new GitHub repository in order to collect beads color references, defining PR rules etc, it might be a good idea to try to centralized all these Spreadsheets i

[2020-03-16 08:10] jeppewl commented on #8
Sounds good. Let me know if I can be of any help.

[2020-03-16 08:47] #8 closed

[2020-03-16 08:58] maxcleme commented on #8
@jeppewl New colors are now available thanks to you !

[2020-03-16 13:21] jeppewl commented on #8
Great!

[2020-03-22 19:14] maxcleme opened #12 "Allow Delta E color matching"

[2020-03-22 19:15] maxcleme opened #13 "Reference Beadcolors repo"

[2020-03-22 19:15] maxcleme opened #14 "Allow multiple palette selection"

[2020-03-22 19:16] maxcleme opened #15 "Allow palette all enable/disabled"

[2020-03-22 19:16] maxcleme opened #16 "Allow 1 px = 1 bead mode"

[2020-03-23 04:06] sunshin89 opened #17 "Perler color # name too long"
When making the pattern everything is great! Use this site all the time. Tried to use today and once I click export and look at the pattern, you can figure out which color is what as the numbers for the colors have changed from P01 to 80-19001 which is too long per square to know which color is what when making the pattern! Please fix this! The other way was so much better!

[2020-03-23 06:35] maxcleme commented on #17
Good point, I updated all color references to target an other repository which aims to maintains the whole palette, however the references for Perler brand are not the same anymore.

Should be fix today, thanks a lot for pointing out my mistake !

[2020-03-23 07:20] maxcleme commented on #17
@sunshin89 should be fixed and online, I'll let you confirm and close this issue if everything is OK for you :)

Thanks again!

[2020-03-23 08:56] sunshin89 commented on #17
Thank you!!!!! It’s now works!!

[2020-03-23 08:56] #17 closed

[2020-03-26 18:26] maxcleme commented on #12
Done in v0.5.0

[2020-03-26 18:26] #12 closed

[2020-04-01 10:38] maxcleme commented on #15
Done in v0.7.0

[2020-04-01 10:38] #15 closed

[2020-04-05 23:31] LlamaGodd opened #19 "Include a separate category/labels for the Artkal mini beads?"

[2020-04-05 23:39] maxcleme commented on #19
Hey! Can you provide a bit more context to this? I don't really understand 😅😅

[2020-04-06 08:20] maxcleme commented on #14
Done in v0.8.0

[2020-04-06 08:20] #14 closed

[2020-04-06 08:33] maxcleme commented on #13
Done in v0.9.0

[2020-04-06 08:33] #13 closed

[2020-04-07 00:25] LlamaGodd commented on #19
Sorry I should of added more context! The Artkal mini bead C-2.6mm brand
have different labels from the normal S-5mm. For an example the S-5mm color
Brown is labeled S16, but the the C-2.6mm mini brand has it labeled as C32.
So my suggestion was adding the Artkal C-2.6mm mini under it's own category
with Hama, nabbi, perler and S-5mm Artkal. So when it creates the pdf that
it will have the correct

[2020-04-07 05:43] maxcleme commented on #19
Hi,

It makes way more sense now, I'll try to do it today I'll keep you in touch once done.

[2020-04-15 06:48] maxcleme opened #21 "First render is different from all others"
When you upload a picture, it automatically render it as a pattern, however all renders after first one are slightly different.

**Step to reproduce**

+ Upload image
+ First render
+ Click 'Display grid' in order to render again but it doesn't change the palette nor the size
+ Render is slightly different
+ If you keep toggling 'Display grid' it seems to be stabilized after the second render, and

[2020-04-16 10:15] maxcleme commented on #16
Done in v1.0.0

[2020-04-16 10:15] #16 closed

[2020-04-17 10:41] maxcleme commented on #21
Fix in v1.0.2

[2020-04-17 10:41] #21 closed

[2020-04-17 15:29] Remittingdust opened #23 "No way to reset Usage setting"
Once pressing the 1% button on the usage tab - there is no way to reset to origional setting, or undo clicking on the button.

This means that if the user clicks the button and doesn't like what it has done, they have to start all over with importing their picture.

![image](https://user-images.githubusercontent.com/63864847/79586059-a2a2fc80-809e-11ea-847a-bc1fbb6b6816.png)

[2020-04-17 15:40] maxcleme commented on #23
You're absolutely right! Going to look at this during next week, I'll keep you in touch.

Thanks again for feedback

[2020-04-20 12:57] negrojombo opened #24 "Exporting the pattern."
Option to export it as a image. Also giving "style" options.
![20200420_075539](https://user-images.githubusercontent.com/64017980/79754055-855b7180-82dc-11ea-9e94-e81291af2b94.jpg)

[2020-04-20 13:12] maxcleme commented on #24
Hi, thanks for feedback however I don't get it, could you be more specific about?

[2020-04-20 13:24] negrojombo commented on #24
When exporting the pattern as a png or jpg, it would have the color codes. It would be easier for others who are confused with pdf files. It would look something like this:
![beadified_image-1](https://user-images.githubusercontent.com/64017980/79756477-47f8e300-82e0-11ea-967d-1716d3c422a6.png)

[2020-04-20 13:34] maxcleme commented on #24
To be honest I used PDF for two main features :
+ Multiple pages
+ Vectorized drawing in order to allow user to zoom as much as they want to see each bead's color reference.

Generating only one image made from all boards could be done, however it would have to either :
+ Be vectorized as well (resulting in a SVG file, which IMO would also confused people of PDF are already confusing)
+ Having a r

[2020-04-20 14:05] negrojombo commented on #24
Yes, you did. Another option is to have the pattern seperated into four different pictures.

[2020-04-20 14:12] maxcleme commented on #24
If the pattern is divided into N parts, what's the difference with the pdf then?

[2020-04-20 14:17] negrojombo commented on #24
Speaking for myself there wouldn't be a difference. However on an android/iPhone a seperate app may be needed. Having the "option" to export it differently is nice.

[2020-04-20 14:26] maxcleme commented on #24
Thing is, this is a website and browser support pdf since long time now, I always create/view my pattern from my Android phone myself 😅

But you're absolutely right for resuming an ongoing project, I need my file explorer to retrieve the pdf instead of using gallery, you got the point here :+1:

[2020-04-21 06:20] maxcleme opened #25 "Image scaling to board should be a option"
When user upload an image, the default behavior is to scale this one to the number of boards chosen, however this strategy cannot be overriden, which could leads to frustration (eg: upload sprite smaller than 29x29)

[2020-04-23 09:54] maxcleme commented on #23
@Remittingdust , I added a "Undo" button in the "Usage" tab !

Can you take few minute to check if everything is fine for you ? If so, feel free to close the issue :)

[2020-04-23 10:12] maxcleme commented on #25
Done in v1.4.0

[2020-04-23 18:12] #25 closed

[2020-04-23 22:53] Remittingdust commented on #23
Perfect! Thanks for the fix :)

[2020-04-23 22:53] #23 closed

[2020-04-24 09:55] maxcleme commented on #24
@negrojombo

I played a little with image export, I ended up with something like this :

![download (2)](https://user-images.githubusercontent.com/7669401/80199865-148cc000-8622-11ea-81a6-9016586a3bad.png)

I still need to look at :
+ Inventory section
+ Bench image size results depending of the number of boards
+ Look at SVG
+ Make color references more readable depending on the background color

[2020-04-24 13:19] negrojombo commented on #24
I think it's great. You outlined the boards dimensions and the color codes are easy to read.
Some may not prefer the pattern in the middle of the boards like the image above.. unless this is just an example.
Don't know if it would be easier for you to have one image file or seperate.. either is fine with me.

[2020-04-24 13:26] maxcleme commented on #24
I still think color code readibility needs be greatly improved.

Regarding the pattern being in the middle of boards it's links to a setting which is set by default, but it can be turned off if you want (advanced tab).

Generate one image per board can also be a something doable, but I guess downloading a zip file instead will leads to same issue as for PDF.

Downloading N images could be really f

[2020-04-24 13:39] negrojombo commented on #24
One image is the easiest, but the file size may be the issue if it's a big pattern. Multiple images could work, instead of having an image per board. It could be seperated into a certain amount images ignoring the size of the actual pattern.

[2020-04-24 13:44] maxcleme commented on #24
IMO splitting one board into 2 or more images would be a real pain to use 😅

On Fri, Apr 24, 2020, 15:39 negrojombo <notifications@github.com> wrote:

[2020-04-24 13:47] negrojombo commented on #24
Yeah it would. So one image and better readability for the color codes

[2020-04-24 13:48] maxcleme commented on #24
Going to make further experiment next week, I'll keep you in touch

[2020-04-25 18:22] sunshin89 opened #26 "New update?"
Not sure how to title this. I’m not liking the new set up. Every time I change how many boards, the image disappears and I can’t tell what it looks like and if it’s how I want it.

[2020-04-25 18:28] maxcleme commented on #26
That's pretty weird, this is obviously not the expected behavior. Mind to
share on which platform/browser the issue occurred? Did you try from other
platform/browser to see if it's global or more a compatibility issue? I
used it yesterday for personal project and everything worked well.

Correct me if I'm wrong, just to be sure I'm understanding well : When you
load an image, everything works fine

[2020-04-25 20:27] sunshin89 commented on #26
Yes, once adding more boards than 2x2 the preview vanishes. I have been using your site on my phone since finding it. When I tried on my tablet it never wanted to work properly for me.

Sent from my iPhone

[2020-04-25 20:32] sunshin89 commented on #26
About to retry using chrome on my tablet and see if since the change if it works there

[2020-04-28 17:10] lindehell opened #27 "Excel export and exact pixel size"
Just wondering if the Excel export option will still be around. It has been invaluable to me in my work.

Also is fit to board the new normal? Will you be able to set size manually as well?

[2020-04-28 18:01] maxcleme commented on #27
Hi, thanks for submitting an issue, however I don't understand your point.

Excel export was never implemented, do you mean that's something you would
like to?

Regarding the 'fit to board' option, it's the default behavior since the
beginning, however someone raise an issue regarding this when using a image
smaller than the board. That's why you can now disable it to use what we
could called '1px

[2020-04-29 07:07] lindehell commented on #27
Turns out I'm mixing up beadifiers. But I really like what you are doing here.

I used to work with an app that had Excel export. Where the cells were colored in the right tone and of course also hade the text. I really liked being able to move using the arrow keys so I never got lost. Also Excel has the text-to-speach function so I never had to look at the screen at all which is a timesaver for b

[2020-04-29 07:10] maxcleme commented on #27
No worries,

Excel export could be a thing, I just need to look at the format in order
to see if it's doable, would also look at ODF in order to have a free
alternative

On Wed, Apr 29, 2020, 09:07 lindehell <notifications@github.com> wrote:

[2020-04-29 09:15] lindehell commented on #27
Sounds great

[2020-05-04 08:55] lindehell opened #28 "Reducing palette stepwise"
Would it be a good feature to have an option to reduce colors by a given number instead of percent?
I usually work with a huge palette of colors and more often than not there is a lot of background that take up 50-70% of the total bead count. The result is I end up with just a handful of colors  from the reduce under 10 % option and me loosing all the fine details in the picture.

Consider adding

[2020-05-04 08:57] lindehell commented on #28
Another option would be to tag certain colors as background and reduce 10 from the remaining.
Can't decide in my head which I would prefer.

Just a thought :)

[2020-05-05 05:57] maxcleme commented on #24
@negrojombo , still working on it but I started working again (professionally speaking) so I got less free time that previous weeks, but this feature is still planned, don't worry.

[2020-05-05 05:57] maxcleme commented on #26
@sunshin89 , any update ?

[2020-05-05 05:58] maxcleme commented on #27
@lindehell , this feature is still planned, however I started to work again (professionally speaking), so it might take more time than I expected since I got less free time :sweat_smile:

[2020-05-05 06:01] maxcleme commented on #28
@lindehell I understand your point and it makes absolute sense, do you have any insight on how it could be integrated to the current UI ?

Adding a slider would not overcharge the UI, however having the possibility to "lock" certain colors could definitely overcharge the UI.

Anyway, I need to think about it, but I think it's a good idea :)

[2020-05-05 13:33] lindehell commented on #28
I am just the pixelartist with ideas. I would be crazy satisfied with the slider option. Understand the other one might be complicated. Thanks for listening to my ideas :)

[2020-05-05 15:21] sunshin89 commented on #26
It’s working now with no issues

Sent from my iPhone

[2020-05-05 15:21] #26 closed

[2020-05-15 18:28] lindehell opened #29 "Import palette"
How about the ability to upload a txt file with your personal palette? Each line could just be like:
H13
S77
S78
S158
Etc.

That way you done have to uncheck every color you don't have. And you don't end up with a pattern containing H25 translucent brown by mistake that is not on the market anymore.

This would be huge, at least for me and just as an option so people can do it the old-fashioned wa

[2020-05-15 19:21] maxcleme commented on #29
Hey, first of all, thanks for putting feedbacks and idea here!

I already had the idea of letting people adding their own palette, but not really in the same way as you described. Let me try to explain how I see potential futur feature, based on what you need.

First of all, if I understood correctly, what you want is ultimately being able to save your current selection, not really load an additio

[2020-05-15 21:17] lindehell commented on #29
Thank you for the long answer. My only programming skills comes is in bioinformatics so it's good that you tell me what is realistic when making a tool that others are suppose to use.

What I was thinking is that you have a .csv file with the brands color code in the style of for example "S51". You have these nice underlying lists with hex/RGB and I would imagine end users don't really care about

[2020-05-16 10:51] maxcleme commented on #29
Thank again for additional feedback and idea, I'm going to go through all of them, in order to extends a bit my POV of these.

**I would like to insist again**, but IMO what you need is a way to save your current selection of colors/palettes instead of loading a file. I mean, if you are OK with creating your own file, in respect to whatever format it needs, then load it into the website, why not b

[2020-05-30 00:02] knives007 opened #30 "Reset all the options?"
Hello, I´m starting to use this software, in my opinion it is one of the best I found (maybe the best) and I am very happy with the author, but can you add an option to reset all the latest settings or get the original options ? ? that's because when I reload or refresh the browser because I don't like some changes in the USAGE option, the software doesn't reset the last changes, and now I need to

[2020-05-30 07:19] maxcleme commented on #30
Hi, thanks for taking your time to report an issue/feature request here.

A reset button shouldn't be too hard to do, I'll add it to my to-do list,
that's a good idea!

However I'm kinda curious about you said, there is currently no persistence
at all in this application so it is technically impossible for the usage
tab to stay the same when you reload the page. 🤔

Maybe you could come up with som

[2020-06-16 23:02] jaymeh commented on #24
@maxcleme I hope you guys don't mind me weighing in here, I've actually been working on a tool very similar to beadifier. I couldn't find anything at the time of looking that allowed me to use an updated list of Artkal C Mini beads. I stumbled across this project on Reddit though and it seems like I might be able to use it instead of continuing my own.

An idea I had for the exports of the tool I'

[2020-06-17 06:40] maxcleme commented on #24
@jaymeh

First, sorry for delay of the initial feature, still working from home since beginning of national lock-down, no free lunch breaks to work with project (I prefer spending time my family during lunch breaks / WE  :smile: )

I have to say that the mockup you created is really self explanatory ! Well done! I really like this idea of using symbol with are more easy to recognize.

If you are O

[2020-06-17 07:18] jaymeh commented on #24
@maxcleme

No need to apologise, I really respect that! As a developer with a young family also, I completely understand where you are coming from. I only have an hour or two each evening to either wind down or work on personal projects.

Thanks! I've made a few patterns using the generator method above and I have to say, you do remember that x symbol belongs to y colour as you are working on it.

[2020-06-18 08:13] maxcleme commented on #24
That was exactly my point, IMO that the thing to find out first if we want to integrate this feature. Having symbol changing from pattern to pattern of even from page to page would without a doubt be too confusing for end user.

Moreover, having a reliable/consistent translation between colors and symbols could lift up the limitation of number of colors. If you look at [FontAwesome](https://fontaw

[2020-06-18 09:02] jaymeh commented on #24
I have to agree, I think it would be confusing.

Ha, good point. I didn't think about using FontAwesome, that would make it a non issue so I think each colour should have it's own unique icon.

If you need me to try and pick anything up for this project be it some parts of this issue or any of the others, let me know. I'd love to get involved and help to progress beadifier further.

I'm pretty new

[2020-06-18 09:09] maxcleme commented on #24
Thanks for proposing help for this project, really appreciated it !

May I ask you first to create an issue related to symbol translation ? I think we diverge from the original issue which was only image export instead of PDF (should be done soon, at least I hope).

Using symbols instead of color names could be use in all type of export and IMO should be seen as higher-lever feature instead of jus

[2020-06-18 13:26] dpalay opened #32 "What about combining brands"
While Hama & Nabbi don't mix with the others, Artkal and Perlers can be used together pretty seamlessly (pun intended, after ironing).    If I have both Perler beads and Artkal beads, I'd love to be able to choose BOTH for better color matching.

[2020-06-18 13:46] maxcleme commented on #32
Hi,

Thanks for opening issue, however you should already be able to select multiple brand at once.

![image](https://user-images.githubusercontent.com/7669401/85028022-dec80b80-b17a-11ea-9e6d-94db56a0bf19.png)

Is it something not working properly on your side ?

[2020-06-18 13:55] dpalay commented on #32
Huh.  I must have been on an older version?
![image](https://user-images.githubusercontent.com/33780/85028934-58db9e80-b141-11ea-9e80-3cbd275dbe78.png)

Refreshed the page and I'm seeing the configuration options now.

[2020-06-18 13:55] #32 closed

[2020-06-18 13:55] jaymeh opened #33 "Symbol Translation - Allow each colour to have it's own symbol"
It would be good as part of the export process if each colour had a unique symbol associated to it. This would give a unified way of showing colours across various brands and potentially save on the amount of space on the page each peg needs.

Using symbols instead of colour names could be use in all types of export and could potentially be something toggled in the **Advanced** tab.

I have attach

[2020-06-18 13:59] maxcleme commented on #32
Might have been cache issue, sorry for inconvenience.

[2020-06-18 14:01] maxcleme commented on #33
Thanks for opening issue,

For consistency, initial discussion about this started [here](https://github.com/maxcleme/beadifier/issues/24#issuecomment-645054081).

We decided to isolate this behavior into a new issue since it could be deals with independently of current export types.

[2020-06-18 14:02] dpalay commented on #32
No worries.  Btw, I assume some of the colors for this came from the LThanda spreadsheet?  Cause that's me! :D

[2020-06-18 15:03] dpalay commented on #33
Symbols are used by the Diamond Painting / 3d painting community as well.  I'm not sure if there's a standard or not, but there appears to be a mostly standardized set of symbols associated with DMC colors.

[2020-06-18 15:47] maxcleme commented on #32
@dpalay

![](https://media.giphy.com/media/5VKbvrjxpVJCM/giphy.gif)

Of course I used from of your values ! Thanks for this awesome work !

All colors references here are based on another [repository](https://github.com/maxcleme/beadcolors), which merge 3 or 4 main spreadsheets I found around the web. I tends to use the more recent one as reference, so few of your colors has been discarded for oth

[2020-07-07 16:37] jaymeh commented on #33
Hey @maxcleme ,

I've spent a few days studying the project in order to get a grasp on it and how all the pieces tie together. I must admit the majority of the WebGL stuff still throws me a little but I can try and tackle that at a later point.

I wanted to get your opinion on where you think the symbols should be stored? I've been in two minds about if they should be in this repo or your colour o

[2020-07-07 18:18] maxcleme commented on #33
Hey!

Sorry for short answer (I don't have my laptop to make links etc).

I think the 'best' place would be in the color repo, since it handle
different version/format in order to not break anyone, we could create a v3
which associate a unique symbol to each color. Doing this way will prevent
headache in beadifier since we would 'only' to use another field instead of
the 'ref' one!

The generation

[2020-07-07 21:10] jaymeh commented on #33
Cool, I'll create a separate issue in the Color Repo, have a bit of play over the next few days and get you an initial PR over.

I took a look into a number of icon packs and whilst Font Awesome seemed like a good choice, I'm not sure about if there will be enough. It has around 1500 icons but a large number of them I'd say probably aren't ideal to use (brand icons, battery indicators etc). The ot

[2020-07-08 06:20] maxcleme commented on #33
@jaymeh

Definitely no brainer if we can use Unicode symbol instead of something proprietary. Great catch!

[2020-07-08 14:50] dpalay commented on #33
Just a warning on using Unicode, you will need to be careful of similar characters. For example:
![image](https://user-images.githubusercontent.com/33780/86933731-7aa4c180-c100-11ea-96a1-02475485c4ff.png)

[2020-07-08 15:10] maxcleme commented on #33
Of course, but I guess using Unicode means symbol define in the standard,
not all the characters which obviously would generate unwanted similar
pattern. But damn we could even use Emoji 😂

On Wed, Jul 8, 2020, 16:51 Dave Palay <notifications@github.com> wrote:

[2020-07-08 16:25] jaymeh commented on #33
Good spot @dpalay I might have to try and pull those out and see how many we would have.

@maxcleme I did think about Emoji but I'm not sure if they are too complicated/detailed to fit into a small area? Perhaps when I get into it, I might change my mind.

https://github.com/maxcleme/beadcolors/issues/12 - I just created this issue over on the colour repo to discuss this. Maybe we can move this di

[2020-07-08 16:27] maxcleme commented on #33
Honesty, Emoji idea was for fun, I don't think we end up with something
usable 😂

On Wed, Jul 8, 2020, 18:26 Jamie Sykes <notifications@github.com> wrote:

[2020-07-08 16:38] jaymeh commented on #33
Yeah, I don't think so either. Sorry the joke in that comment about Emojis went straight past me 😂

[2020-07-13 15:20] maxcleme opened #35 "Support new Beadcolors palettes."
Support new added palettes :

https://github.com/maxcleme/beadcolors/issues/7

https://github.com/maxcleme/beadcolors/issues/8

[2020-07-13 15:51] dpalay opened #36 "Dynamically pull in different palettes"
https://github.com/maxcleme/beadifier/blob/84e05da59fd0216ec17bda7d9f760f0fa122b0b1/src/app/palette/palette.service.ts#L24

Instead of listing all the csvs here, would it be easier to have the [beadcolors](https://github.com/maxcleme/beadcolors) project generate a simple txt file that lists all the csvs in the project, then this code would just reference the txt file and dynamically iterate throug

[2020-07-13 15:52] dpalay commented on #36
Tagging @maxcleme since you didn't get the notifications last time :)

[2020-07-13 16:22] maxcleme commented on #36
@dpalay thanks for the mention, it works now, I got the notification :joy:

Totally agree with you, to be honest I though I might had time to develop the API for beadcolors first, then we could easily have an endpoint to list all the available palettes and use it here instead of loading static csv in the application.

Sadly this obviously is not done yet. Using your approach would make it straight

[2020-07-13 16:39] #35 closed

[2020-07-13 16:54] maxcleme commented on #36
@dpalay Both new palettes has been added.

However I would be glad to keep this issue open since it is not "properly fixed" I would say.

I would also remind me that I have to work on the beadcolors API to tackle this.

Regards.

[2020-07-13 16:56] maxcleme commented on #30
@knives007 ping for update.

[2020-07-15 11:56] maxcleme commented on #24
@negrojombo

Hey, sorry be being so late to this, but I actually implemented new export type (svg,png and jpg).

It should be available during the day (CI is running) on the website, please feel free to try it out for additional feedbacks !

I labeled them as "Beta" in order to gather multiple feedbacks before GA.

You might also encounter cache issue before seeing the new "export" tab.

Cheers!

[2020-07-16 12:11] maxcleme commented on #27
@lindehell

I've been playing a bit with Excel export.

I came up with something like this, could you please check if everything's fine on your side ? (I don't have Excel unfortunately but it opens seamlessly with LibreOffice Calc).

[beadifier_test.zip](https://github.com/maxcleme/beadifier/files/4931372/beadifier_test.zip)
(I had to zip it so I could upload the file here)

I still need to figure

[2020-07-30 16:39] jaymeh commented on #33
@maxcleme Just wanting to pick this back up again after making the change to the color API earlier this week.

I'm wondering if the symbols functionality would be better suited for print/export only and shouldn't appear on the preview for beadifier. I put together this quick mockup with the image on a small pixel art image (60 x 58). Due to the sizing of everything you loose the symbols anyway so

[2020-07-31 06:14] maxcleme commented on #33
@jaymeh

Thanks for doing such mockup, really nice to see what I may looks like before even starting implementation.

Regarding your question I have to say that IMO it should be a toggle in the "Advanced", controlling both exports and previews (maybe?).

I don't see how it could be useful without being in exported file, I dunno either how really people use this project but I highly doubt they bead

[2020-07-31 13:00] jaymeh commented on #33
@maxcleme

I have to agree a toggle in the advanced section is the right place to put it.

I share that opinion about it being useful in the preview but thought I would double check with you anyway. I think we should keep the preview as it is and purely use the option to use symbols inside the export. No it doesn't bother me that we don't have it in the preview window to be honest, I export and pr

[2020-08-14 11:40] maxcleme opened #43 "Dynamic Font Size"
When exporting, size of name/symbol should be dynamic.

[2020-08-14 11:41] maxcleme opened #44 "PDF UTF8 Symbol not rendered"
When using symbol feature, some symbol are not rendered in the exported PDF.

Might be related to utf8 symbol that comes when palette has many entries (diamond).

[2020-08-14 11:41] maxcleme commented on #44
@jaymeh Any idea how we could handle this ? I didn't look into jsPDF setting yet, but it seems UTF8 is not well/yet supported anyway

[2020-08-14 11:47] jaymeh commented on #44
@maxcleme - So it could be that the font doesn't support specific symbols.

https://github.com/MrRio/jsPDF/issues/1906

I'm wondering if it's going to take some testing with different fonts in order to see which ones support the symbols we have.

[2020-08-14 11:49] maxcleme opened #45 "Performance"
Many things are done on per/pixels basis, performance goes down dramatically when using many boards.

Lots of operation could be caches with some indexes etc.

[2020-08-14 11:52] maxcleme commented on #44
@jaymeh might be right.

I'm building all thing with https://github.com/maxcleme/beadifier/pull/42 incorporates. I set the font the Roboto Mono in order to manage dynamic font (since each char is the same width, it is way easier), then I also have to packed to font in the pdf in order to have it offline (with the base64 tricks).

I'm planning to release both #41 and #42  together today anyway.

At

[2020-08-14 11:58] jaymeh commented on #44
Perfect, ok. If you have an example you tried with to replicate this issue I don't mind having a quick look at it and playing with a few things on it.

[2020-08-14 12:03] maxcleme commented on #44
@jaymeh Sure, I use the following picture with diamond palette (master branch).

master branch should be in online pretty soon.

Note: Everything goes well with SVG which use the same trick in order to embed the font, it's a bit different but the font is the same, Roboto Mono.

![Philips_PM5544 svg](https://user-images.githubusercontent.com/7669401/90247440-da486800-de36-11ea-92ec-8af6cbfa495f.png

[2020-08-14 12:11] maxcleme commented on #43
Done in v.1.12.0

[2020-08-14 12:11] #43 closed

[2020-08-14 12:11] maxcleme commented on #33
@jaymeh Done in v.1.12.0

If everything is fine, feel free to close the issue :)

[2020-08-14 12:40] jaymeh commented on #44
@maxcleme mm this isn't ideal. I've noticed a small few issue with the colour spreadsheet surrounding the ; character. I plan on removing this from the list.

https://stackoverflow.com/questions/21923488/how-to-enable-utf-8-in-jspdf-library - This doesn't look good for us. Seems that there isn't full UTF8 support in jsPDF. Didn't account for this during the initial testing. The only current soluti

[2020-08-14 12:41] jaymeh commented on #33
Thank you

[2020-08-14 12:41] #33 closed

[2020-08-14 13:27] maxcleme commented on #44
@jaymeh didn't really started to look at it, but I'll will.

[2020-08-14 15:31] jaymeh commented on #44
@maxcleme Ok, sorry I just thought it was worth you having a quick look also. If we find an alternative way of getting it to work or see no other option than to switch to a different method/library to parse. I'd be happy to pick this up since I effectively have caused this issue but I just wanted to give you the chance to see if there was anything I might have missed. Keep in touch with what you f

[2020-08-14 15:35] maxcleme commented on #44
@jaymeh yup, don't worry we will find a workaround to make it work, no doubt 😉

[2020-08-19 11:16] maxcleme commented on #44
@jaymeh

After testing a lots of Fonts, it looks I found one suitable candidate. I mock a fake usage in order to have one bead for each references of diamond dots palette. I still needs to tweak dynamic size constant in order to make it works everywhere but at least it worked.

[beadifier_2x2 (28).pdf](https://github.com/maxcleme/beadifier/files/5096002/beadifier_2x2.28.pdf)

[2020-08-19 11:37] jaymeh commented on #44
@maxcleme Nice work, this is amazing news! I must admit I was a bit stumped by the issue initially. If you need any assistance with testing or code changes, give me a shout 😃 .

[2020-08-19 11:59] maxcleme commented on #44
Fix in v1.13.0

I really need to set up some integration/e2e testing in order to validate all of this with github actions.

[2020-08-19 11:59] #44 closed

[2020-08-19 12:00] maxcleme commented on #24
Closing due to stale.

[2020-08-19 12:00] #24 closed

[2020-09-02 10:22] maxcleme commented on #27
Implemented in v1.14.0.

[2020-09-02 10:22] #27 closed

[2020-09-09 16:30] jaymeh opened #51 "Board Reference Missing from PDF"
Seems that board reference numbers are missing from PDF files at the top of each page See attached for an example. Is this as designed @maxcleme ?

If this is a bug, I'm quite happy to take a quick look and submit a PR to fix. Cheers!

[beadifier_2x1 (2).pdf](https://github.com/maxcleme/beadifier/files/5196625/beadifier_2x1.2.pdf)

[2020-09-09 16:35] maxcleme commented on #51
You are absolutely right, looks like we got some breaking changes during redoing all of these 'printers'. Nice catch!

[2020-09-09 17:01] jaymeh commented on #51
Thought it may have been related. No worries @maxcleme I'll have a look
into it later. 👍

On Wed, 9 Sep 2020, 17:36 maxcleme, <notifications@github.com> wrote:

[2020-09-09 19:54] #51 closed

[2020-09-09 19:55] maxcleme commented on #51
@jaymeh Thanks for fixing it, I'm going to deploy new version tomorrow (I'm not home right now), don't be scared to notify me if it's not up and running by then.

Cheers!

[2020-09-10 06:06] maxcleme commented on #51
Deployed and fixed in v1.15.1.

[2020-09-17 13:34] lindehell opened #53 "Number input for Brightness, Contrast etc."
I do most of my patterns on my phone and the sliders in the advanced window are hard to finely adjust. I suggest a text box beside it where Brightness, Contrast and saturation go someting like -50, 0, -50 and grayscale and dithering from 0 to 100

If I loose the pattern or wanna go back and fine-tune something, having the option to precisely enter these parameters would be great for reproducibilit

[2020-09-17 13:37] maxcleme commented on #53
@lindehell It is really a good idea !

I'll put this one in my backlog, even if I'm going to work on a save/load presets feature beforehand I think :)

(which could also fix your issue)

[2020-10-16 05:53] lindehell opened #54 "Identifying patterns"
This might come across as lazy but I make a lot of patterns using your tool, and I end up with a downloads folder with a lot of beadifier_XxX.pdf's. I rarely build straight away which means I more often than not have to figure out what is what.

I realize this would be solved by renaming them but I have two suggestions
1. Naming the project in the page/tab where you upload your photo, and having t

[2020-10-16 06:09] lindehell opened #55 "Excel export enhancements"
Love that you have excel export in beta now. I have a few suggestions here as well.

1. Is it possible to have red thick lines as board borders? I work with midi so every 29 row and column. But since you pick what boardtype maybe this could be set for the type used.
2. Thin black/gray lines every five row/columbus. Makes it easier to work with in my opinion.

I also make the cells square in the wa

[2020-10-16 06:10] maxcleme commented on #54
@lindehell 100% agree on this, I'm in the same team and I try to rename asap but I often forgot and I have to figure out which pattern is which image etc.

What I'm thinking is the following : by default, let's use the imported file name as the export name prefix (eg: photo42.beadifier.pdf). Moreover we could also add an input field in the export tab in order to rename it inside the app before exp

[2020-10-16 06:20] maxcleme commented on #55
@lindehell

First of all, thanks for your feedback, I implemented Excel export because some people ask for it but I'm not really a user using it, so thanks for such feedback regarding it.

Agreed on this, TBH it was in my TODO list but I completely forgot about it. However I dunno if 'red' and 'thick' would be the best possible solution, but as I said, we might have more credit to me regarding exc

[2020-10-17 11:32] maxcleme commented on #55
@lindehell

Regarding square cell, I looked at it again and I'm already doing this kind of tricks.

[code]

Everything looks absolutely square here (at least using LibreOffice) :

![Screenshot from 2020-10-17 13-31-18](https://user-images.githubusercontent.com/7669401/96336040-1b4e3a00-107d-11eb-970a-060ed8e14fbf.png)

Are you sure it is not a default setting in your Excel or whatever ? Would be h

[2020-10-17 12:10] maxcleme commented on #53
@lindehell

What do you think of something like this ?

![image](https://user-images.githubusercontent.com/7669401/96336834-83534f00-1082-11eb-9da1-f3908cb608f0.png)

[2020-10-17 13:19] maxcleme commented on #55
@lindehell

Board border has been added in v1.20.0.

[2020-10-17 13:20] maxcleme commented on #54
@lindehell

Export name has been added in v1.20.0.

[2020-10-17 13:20] maxcleme commented on #53
@lindehell

Slider input has been added in v1.20.0.

[2020-10-18 06:06] lindehell commented on #54
I think it would be pdf specific, since the other formats are easily zoomable so you can see what you are working with  that way. It was just a thought, but the "image" I was thinking of it the preview image (image included).

Maybe just the rename is fine. Thank you for implementing is so fast
![PicsArt_10-18-07 55 26](https://user-images.githubusercontent.com/13117403/96359979-d4ae1d80-1118-11eb

[2020-10-18 10:04] lindehell commented on #53
Totally missed rhis, this looks amazing!

[2020-10-18 12:37] maxcleme commented on #53
@lindehell Feel free to close or come up with some feedback :wink:

[2020-10-18 12:40] maxcleme commented on #54
@lindehell Yup I get it,

Might be worth trying, I'll see what I can do in the following days.

[2020-10-19 21:39] lindehell commented on #53
I am not great at this gitting thing. I love it!

[2020-10-19 21:39] #53 closed

[2020-11-10 10:50] lindehell opened #61 "Delta E version/tweaking"
Hi, me again

I've found it curious that the Delta E color matching in my opinion makes weird calls sometimes. What version of the  CIE dE formula is being implemented? There has been so much progress in this field since the 1976 version.

I know I'm being a huge nerd now, but might it be worth checking it out or at least playing around with some weights?

/Your greatest fan

[2020-11-10 10:55] maxcleme commented on #61
@lindehell

TBH it's been a while since I have implemented the DeltaE Matching.

Feel free to look at the source here : https://github.com/maxcleme/beadifier/blob/master/src/app/model/matching/matching.model.ts#L22

[2020-11-10 11:06] maxcleme commented on #61
@lindehell

Looks like CIE94 : https://en.wikipedia.org/wiki/Color_difference#CIE94

[2020-11-10 11:20] lindehell commented on #61
Sure looks like the 94 one. Which is great, but would it even be an option to try the 2000 version? When running it on my phone the DeltaE takes a bit of time for larger designs. I'd be willing to try it out in my patternmaking and give feedback , if you put it in (it's a monster of a equation but I think you could benefit from it in green/gray regions and in the very light). You could have it as

[2020-11-10 11:32] maxcleme commented on #61
Could definitely be implemented as a third option. But I don't know when to
be honest 😅

On Tue, Nov 10, 2020, 12:20 lindehell <notifications@github.com> wrote:

[2020-11-10 11:39] lindehell commented on #61
I just think it's great that you listen to feedback. If or when you feel like it.

As it it now I have learnt some of the weaknesses and do some either on-the-fly editing or I go over it after, but it's very time consuming

Let me know if/when and I'll test the shit out of it

[2020-11-10 16:55] maxcleme commented on #61
@lindehell I have to admit I couldn't resist to give it a try.

I spend some time tweaking it, looks like I've come up with something compliant with the test results provided by G.Sharma itself :

http://www2.ece.rochester.edu/~gsharma/ciede2000/

**Original Image**
![colors](https://user-images.githubusercontent.com/7669401/98704977-88ec3e00-237d-11eb-84da-5d332de7a462.jpg)

**Euclidean**
![eucli

[2020-11-10 17:38] maxcleme commented on #61
@lindehell

Up and running with v1.21.0

![image](https://user-images.githubusercontent.com/7669401/98710357-d23f8c00-2383-11eb-8337-24ad8cd613a5.png)

I'll you play with it and comeback with additional feedbacks, feel free to close directly if everything is fine :)

[2020-11-11 08:06] lindehell commented on #61
Wow, I love it. Like I thought it fixed the gray green transition right out of the box. Looks amazing! I'll close it because all the patterns I made with it so far looks great. If there is anything wrong still it will be seen in the translation to plastic (and then would most likely be an RGB error). Can't wait to use it!

You are amazing, thank you 💜

[2020-11-11 08:06] #61 closed

[2020-12-10 17:12] lindehell opened #65 "Select all from individual pallettes"
It would be a huge timesaver if there was an select/deselect all slider for **each** active palette. The one that's there for all palettes could still be at the top.

I mix Hama and Artkal a lot and it has been bugging me and a colleague that this isn't an option.

Thanks again for listening and delivering a great product

[2020-12-10 17:44] maxcleme commented on #55
@lindehell up.

[2020-12-10 17:44] maxcleme commented on #65
@lindehell Great feedback, I'll look at it.

[2020-12-10 18:24] maxcleme commented on #65
@lindehell

Available in v1.23.0.

[2020-12-10 20:39] lindehell commented on #65
My god you work fast

Thank you

[2020-12-10 20:39] #65 closed

[2020-12-10 20:39] #55 closed

[2020-12-12 12:04] lindehell commented on #28
Coming back to this oldie. I have attached a screenshot of what many of my project look like when starting out.

Would it really overload the UI if you had a little eye icon or a checkbox by the colors so you could say "Yes, I know you are there. I love you, but let's focus on the rest". The usage screen is very hard to work with right now.

Another option would be a slider/checkbox on the side wi

[2020-12-12 12:14] maxcleme commented on #28
@lindehell

100% agree that this usage tab needs to be reworked from the group up.

Moreover, using mobile device I can feel your pain. This was design at the very beginning of the project and should be rethink entirely.

IMO we want to pin point two importants information here : distribution and amount of beads.

May I ask you to think about some mock up? Any idea what is your ideal screen?

[2021-01-25 18:05] lindehell commented on #28
I personally don't use the top "pie" diagram. If I could swipe and zoom in the lower one (so I could read the on the X-axis) I would be more than happy. Regarding the hide option would it be possible to have a drop-down menu or a slider of some sort to switch between Removing and hiding from the diagram. The hidden ones could show up in a list so one could get them back.

Something like this (came

[2021-01-27 15:59] maxcleme commented on #28
@lindehell

Sorry for late response.

As already state at the beginning of this issue, this "usage" tab needs to be reworked from scratch.

I think colors reduction button should move somewhere else (would make more sense in the "palette" tab TBH).
This ugly "Undo" button should be later handle with a more global "Undo / Redo" feature.

Then for the usage tab, I would opt for displaying only 1 cha

[2021-01-28 14:44] lindehell commented on #28
Total makeover of the usage tab sounds great. No worries about time, guessing this is not your cash cow. I'm in it for the long haul.

[2021-01-28 14:59] maxcleme commented on #28
True, I do this for free, and it will remains free and without ads as long as I'm the main maintainer.

[2021-06-02 14:28] lindehell opened #77 "Crashing on larger designs"
When I try to make a 6x6 board midibead or a 4x4 mini the interface crashes. I always used it on my mobile and it never used to be a problem. It says "WebGL not available on this browser". I tried other browsers and still the same.
![Screenshot_20210602-162004](https://user-images.githubusercontent.com/13117403/120498335-6d9b5b80-c3bf-11eb-87af-965d6e948090.png)

I run Android 11 on a Samsung A71.

[2021-06-02 15:13] maxcleme commented on #77
@lindehell

Hi, thanks for submitting such bug.

Is there any way you could answer the following question in order to better understand/reproduce the issue :

+ Does it also happen with smaller image ? Other board configuration ? Or does it always happen ?
+ Does it also happen on desktop with the same image ?
+ Which other browsers, versions did you use ?
+ Which Chrome version it is ?
+ Can you

[2021-06-08 13:41] lindehell commented on #77
It always happens when I go large enough. Doesn't matter what photo it is. 6x6 boards seem to be the critical size when it happens. 5x7 works but haven't played around with it. It happens regards of palette.

I mostly use Chrome and it's now v91.0 but it auto updates.

It actually works in Firefox 89.1.1 so I might migrate over there for pattern making.

It does not happen on the desktop/laptop. O

[2021-06-08 14:37] maxcleme commented on #77
@lindehell

Thanks for update,

I'll see what I can do once I got a bit of free time and I'll get back to you.

I think I have some insights about what could leads to this, but I have to confirm everything first.

[2021-06-08 16:45] maxcleme commented on #77
@lindehell

As I though,  it seems to be related to rendering only when the scaling is too small and goes beyond sub pixels. It is really weird since it works fine for ages but I guess standards and specifications also change from time to time.

My current workaround is as follows :
+ Apply minimum scaling factor for the rendering preview (currently set a 0.2)
+ Implement scrollbar when factor sho

[2021-06-08 17:01] maxcleme commented on #77
@lindehell

Should be fixed in 1.27.0.

May I ask you to double check if everything is fine on your side ? (Be aware of cache, might be worth it to try it out in incognito mode).

[2021-06-09 13:36] lindehell commented on #77
Good news and bad news:

The good: it now works for 6x6 (in incognito mode)

The bad: It crashes when I try changing palette, which is what I mostly use. Same error message

The ugly: Now I cannot load a picture in Firefox. When I pick one it just refreshes the site which brings me back the the "Select Image..." box. I'll try and se if it works if I use a third party file browser.

[2021-06-09 13:38] lindehell commented on #77
Disregard the ugly. I got it working by reinstalling Firefox

[2021-06-09 14:05] maxcleme commented on #77
@lindehell

May I ask you to explain step by step how to reproduce the issue ? With the initial image if not sensitive ?

I tried to change palette on big picture / small picture / many boards, but it seems I'm unable to reproduce the issue.

[2021-06-14 10:07] RetrolixusMcD commented on #8
Hey There,

first off, amazing program, i used to use hobby.dk and thought i would be at a loss without it when it closed but your beadifier program is amazing!
colour wise there are the following hama ones missing from the list, is there a way to add them either myself or in general? is it because the RGB cannot be set on them due to being chrome etc?

H15 - TRANSPARENT BLUE
H55 - GLOW IN THE DAR

[2021-06-14 10:09] RetrolixusMcD opened #79 "Missing Colors - Apols did try commenting on closed issue but new to github and trying to figure it all out :)"
Hey There,

first off, amazing program, i used to use hobby.dk and thought i would be at a loss without it when it closed but your beadifier program is amazing!
colour wise there are the following hama ones missing from the list, is there a way to add them either myself or in general? is it an issue with the RGB where they are chrome etc?

H15 - TRANSPARENT BLUE
H55 - GLOW IN THE DARK GREEN
H56 -

[2021-06-14 12:01] maxcleme commented on #79
@RetrolixusMcD

Thanks for reaching me out, I'll close this issue in favor of https://github.com/maxcleme/beadcolors/issues/33.

Sorry for being late to answer. I'll update the issue asap.

Cheers.

[2021-06-14 12:01] #79 closed

[2021-06-19 07:13] lindehell commented on #77
Sorry for the late answer.

I after I pick the picture (any picture), I set the width to six 29×29 boards and then the height. This works untill 5 boards in height but when I reach six the pattern disappear and when I make any one adjustment after that (palette, image settings etc.) it crashes.

In a past version the pattern disappeared at this size too but turning the phone horizontal solved that

[2021-06-19 07:18] lindehell opened #80 "Suggestion for pdf export"
I have a suggestion that aside from the sum total of the number of beads of each color at the beginning of the pdf, it would be good to have a per board summary below the pattern on each page.

This would make it easier to set up for a session since I have almost 300 different hues of beads.

[2021-06-19 19:31] Yellowcrayon5x5 opened #81 "Same symbol pattern each time?"
I was curious if with the perler midis if the patterns use the same symbols for every picture? For example, will p18 (black) always translate into a capital L? Or does it depend upon the pattern and color palate itself?

[2021-06-19 19:39] maxcleme commented on #81
Hi,

The symbols generation has been designed to stay the same, whatever colors
you have enabled or disabled. As far as I remember, it should also comes
with a 'exponent' letter if multiple palettes are used across the same
pattern.

Are you experiencing undesired behaviors?

Regards.

On Sat, Jun 19, 2021, 21:31 Yellowcrayon5x5 ***@***.***>
wrote:

[2021-06-19 19:41] maxcleme commented on #80
Might be a good idea, thanks for feedback and I can relate to the same
issue.

However I would better add some pages at the beginning with the current
global inventory instead. Since we could have up to many colors on the same
boards (with worst case being all the possible colors), we will likely have
issue with fitting the table and the pattern on the same page.

On Sat, Jun 19, 2021, 09:19 linde

[2021-06-19 19:42] maxcleme commented on #77
Thanks, I will look into it. May I ask you to confirm the resolution of
your picture? Are you experiencing the bug while using the website in
portrait mode, or landscape mode?

Cheers.

On Sat, Jun 19, 2021, 09:13 lindehell ***@***.***> wrote:

[2021-06-20 04:40] Yellowcrayon5x5 commented on #81
No I am not having any issues. I just happen to be neurotic and wanted to make a piece of paper to have as a guide. I intended on using this site alot and I am not familiar with the numbers of the beads. I wanted to make a reference guide if you will. I have also noticed that it has gingerbread listed as number 259 but the perler bags are listed as 250

Sent from Yahoo Mail on Android

  On Sat, J

[2021-06-21 11:26] lindehell commented on #77
The resolution of the picture I last used (but all pictures fail at 6x6 or above) is 2048x2036, filetype  is .jpeg

Both portrait and landscape fail when reaching the critical size. Before portrait couldn't show the pattern but it became visible when tilting to landscape

[2021-06-21 11:28] lindehell commented on #80
I like this option of extra pages at the beginning (or end). You would have one happy artist over here if implemented :)

[2022-02-12 00:35] Emmyweeb opened #87 "was wondering about colour pallets"
I love how the new Artkal mini C 2.6mm series is added on here I only have one question is there a way to choose the number of colours you want your pattern to have instead of having only the all colours option! I would like it if I was able to input the amount of colours id like the bead sprite pattern to have and be made out of that specific colour pallet to choose the best match of colours for

[2022-02-12 07:39] maxcleme commented on #87
Hello, thanks for you valuable feedbacks, I hope that you had a great experience with the tool.

I have to say that is a really interesting idea I did not think about. I will definitely think about it later on, I'll let you know.

Cheers!

[2022-02-17 02:41] Emmyweeb commented on #87
Wait really that be amazing 😻
I just reread my comment I didn’t really explain it well

Basically a way to input how many colour we want the pattern/template to generate
I can only ever tell how many colour it will have when I export  the photo to save it as a file

most times I try to make a sprite with 12 or less colour more for big projects

This is just an idea, if can’t add it that’s okay but

[2022-05-19 13:45] Exodeca1 opened #93 "3 New Perler Colors"
There are 3 new Perler Colors recently released, please see the values below. As before, they come from the PerlyPop app which has been very accurate with colors!

#C685B1 - R: 198 G: 133 B: 177 - P265 - Twilight Plum
#6CC8AD - R: 108 G: 200 B: 173 - P266 - Caribbean Sea
#CDB7C3 - R: 205 G: 183 B: 195 - P267 - Frosted Lilac

[2022-06-25 06:31] Exodeca1 commented on #93
Sorry to be a bother! Just wanted to know if there was an update or anything additional I could provide.